.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  width: 90vw;
}

.banner h1 {
  font-size: 2.4rem;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-top: 2.6rem;
  letter-spacing: 4px;
  color: var(--greenGrey);
}

.banner h3 {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  color: var(--greenGrey);
  position: relative;
  top: -20px;
}

/* 
.banner p {
  width: 85%;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: var(--mainBlack);
} */


/*  Seems quite good 26.11   */
@media screen and (min-width: 576px) {

  .banner h1 {
    font-size: 2.6rem;
    font-family: "Roboto";
    text-transform: uppercase;
    padding: 0 1rem;
    letter-spacing: 6px;
    color: var(--greenGrey);
  }

  .banner h3 {
    font-size: 2rem;
    color: var(--greenGrey);
  }

}

@media screen and (min-width: 768px) {

  .banner h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5rem;
    padding: 0 1rem;
    letter-spacing: 6px;
    color: var(--greenGrey);
  }

  .banner h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: var(--greenGrey);
  }

  .banner p {
    width: 85%;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: var(--mainBlack);
  }
}

@media screen and (min-width: 992px) {

  .banner {
    text-align: center;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);

  }

  .banner h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 7rem;
    padding: 0 1rem;
    letter-spacing: 6px;
    color: var(--greenGrey);
  }

  .banner h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: var(--greenGrey);
  }

  .banner p {
    width: 85%;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: var(--mainBlack);
  }

}


@media screen and (min-width: 1200px) {

  .banner {
    text-align: center;
    letter-spacing: var(--mainSpacing);

  }

  .banner h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-top: 7rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
    letter-spacing: 6px;
    color: var(--greenGrey);
  }

  .banner h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: var(--greenGrey);
  }

  .banner p {
    width: 85%;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: var(--mainBlack);
  }
}