.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.125rem;
}

/* 
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}

.logo-btn:hover {
  cursor: pointer;
}

.logo-icon {
  color: var(--primaryColor);
  font-size: 1.5rem;
} */

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;

}

.show-nav {
  height: 216px;
}

.nav-links a {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: var(--textDarkBlue);
  transition: var(--mainTransition);
  font-weight: 800;
  letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
  color: var(--primaryColor);
}

.nav-social-links {
  display: none;
}

img {
  width: 25%;
  margin-left: 100px;
}

@media screen and (min-width: 576px) {
  .navbar {
    margin: 2rem;
    padding: 0 6rem;
    font-size: 1.2rem;


    position: fixed;
    top: 0;
    width: 100%;

    z-index: 99999;
  }
}

@media screen and (min-width: 992px) {
  .logo-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
    display: flex;
  }

  /* 
  .nav-social-links {
    display: flex;
    line-height: 0;
  }

  .nav-social-links a {
    color: var(--primaryColor);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
  }

  .nav-social-links a:hover {
    color: var(--mainBlack);
    transform: translateY(-5px);
  } */
}