.nav-header {
  display: flex;
  /* background: var(--greenGrey); */
  background: linear-gradient(rgba(134, 228, 231, 0.7), rgba(0, 0, 0, 0.2)), url("../images/nav-background.png") center/cover no-repeat;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}


.logo-btn {
  position: relative;
  right: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.logo-btn:hover {
  cursor: pointer;
}

.logo-icon {
  color: var(--textDarkBlue);
  font-size: 2.5rem;
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0px;
  overflow: hidden;

}

.show-nav {
  height: 216px;
}

.nav-links a {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: var(--textDarkBlue);
  transition: var(--mainTransition);
  font-weight: 800;
  letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
  color: var(--onyx);
}

.nav-social-links {
  display: none;
}

@media screen and (min-width: 776px) {
  .navbar {
    margin: 0 auto;
    width: 100vw;
    padding: 0.6rem;
    font-size: 1rem;
    background: linear-gradient(rgba(177, 251, 253, 0.7), rgba(83, 83, 83, 0.2)), url("../images/nav-background.png") center/cover no-repeat;
    /* background: var(--greenGrey); */
    position: fixed;
    z-index: 1;

    /* 
    position: fixed;
    top: auto;
    width: 100%;

    z-index: 1; */
  }
}

@media screen and (min-width: 776px) {
  .logo-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .nav-links {
    height: auto;
    display: flex;
  }


  .nav-social-links {
    display: flex;
    line-height: 0;
  }

  .nav-social-links a {
    color: var(--primaryColor);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
  }

  .nav-social-links a:hover {
    color: var(--mainBlack);
    transform: translateY(-5px);
  }
}